{% load static %}
<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="content-language" content="ja">
  <link href="{% static 'semantic.css' %}" rel="stylesheet">
  <title>漫画管理</title>
</head>

<header>
	<nav>
      <ul>
          <li class=”current”><h1><a href={% url 'comic_app:index' %}>漫画管理</a></h1></li>
          <li><a href={% url "comic_app:registerauthor" %}>作者</a></li>
          <li><a href={% url "comic_app:registercategory" %}>分類</a></li>
          <li><a href={% url "comic_app:registertitle" %}>タイトル</a></li>
          <li><a href={% url "comic_app:registerevaluation" %}>評価</a></li>
      </ul>
  </nav>
			<p>練習用漫画管理サイト</p>
<header>


<body>
{% block content %}
{% endblock %}
</body>